<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio 1</title>
</head>
<body>
    <h2>Ejercicio 1</h2>
    <form method="post" action="/ejercicio1">
        <label>Nota 1:</label>
        <input type="number" name="nota1" min="10" max="70" required><br>
        <label>Nota 2:</label>
        <input type="number" name="nota2" min="10" max="70" required><br>
        <label>Nota 3:</label>
        <input type="number" name="nota3" min="10" max="70" required><br>
        <label>Asistencia:</label>
        <input type="number" name="asistencia" min="0" max="100" required><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>

